[submodule "material3/material-color-utilities"]
	path = material3/material-color-utilities
	url = https://github.com/darriousliu/material-color-utilities.git
[submodule "mermaid/merman"]
	path = mermaid/merman
	url = https://github.com/Latias94/merman.git
