<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera permission is required to scan QR codes or to upload images by taking a photo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Permission to access photos is required to select images to upload in the conversation or to choose QR code images that need to be scanned.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Notification permission is required. When the app is not in the foreground, a notification will be shown when message generation completes.</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
